/*body{
	background-color: rgb(228, 237, 243);
}*/

.container{
  	animation: fadein 1.5s;
  	-webkit-animation: fadein 1.5s; /* Safari and Chrome */
	margin:0px auto;
}

.card{
	margin:0px auto;
}

@keyframes fadein {
  	from {
      	opacity:0;
  	}
 	to {
      	opacity:1;
  	}
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  	from {
      	opacity:0;
  	}
  	to {
      	opacity:1;
  	}
}
